.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  text-rendering: optimizeLegibility;
  font-family: Inter, sans-serif, Arial;
  margin: 0 auto;
}

.page_active {
  padding-right: 15px;
}

@media screen and (max-width: 600px) {
  .page_active {
    padding-right: 0;
  }
}

.body_active {
  height: 100vh;
  overflow: hidden;
}
