.projects__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
  transition: all 0.3s;
  padding: 5px;
  height: 250px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.projects__item:hover {
  box-shadow: 0 5px 10px 0px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 900px) {
  .projects__item {
    height: 140px;
  }
}

@media screen and (max-width: 600px) {
  .projects__item {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .projects__item {
    height: 250px;
  }
}

.projects__image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 200px;
}

@media screen and (max-width: 900px) {
  .projects__image {
    max-height: 100px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .projects__image {
    max-height: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .projects__image {
    max-height: 200px;
    width: 100%;
  }
}

.projects__texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projects__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .projects__title {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 600px) {
  .projects__title {
    font-size: 16px;
    line-height: 24px;
  }
}

.projects__tags {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.projects__tag {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 900px) {
  .projects__tag {
    font-size: 8px;
    line-height: 10px;
  }
}

@media screen and (max-width: 600px) {
  .projects__tag {
    font-size: 12px;
    line-height: 15px;
  }
}
